{% extends "base.html" %}

{% block content %}
    <h1>MoE works</h1>
    <ul>
        <!-- {% for region in user.player.economics.regions %}
            <li>{{ region.id }} - {{ region.indexes }}</li>
        {% endfor %} -->
        <!-- if user.player.economics though -->
        {% if user.player.economics %}
            {% for region in user.player.economics.regions %}
                <li>{{ region.id }} - {{ region.indexes }}</li>
            {% endfor %}
        {% else %}
            <li>No regions</li>
        {% endif %}
    </ul>
{% endblock %}